<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    <title>Good Guy Warren</title>
    <meta name="title" content="Good Guy Warren">

    <!-- Open Graph / Facebook / Twitter -->
    <meta property="og:type" content="website">
    <meta property="twitter:card" content="summary_large_image">

    <!-- Title -->
    <meta property="og:title" content="Good Guy Warren">
    <meta property="twitter:title" content="Good Guy Warren">

    <!-- URL -->
    {% if page.htmlPath -%}
    <meta property="og:url" content="https://www.goodguywarren.com{{ page.htmlPath }}">
    <meta property="twitter:url" content="https://www.goodguywarren.com{{ page.htmlPath }}">
    {% else %}
    <meta property="og:url" content="https://www.goodguywarren.com/">
    <meta property="twitter:url" content="https://www.goodguywarren.com/">
    {%- endif %}
    <!-- Image -->
    {% if page.imagePath -%}
    <meta property="og:image" content="https://www.goodguywarren.com{{ page.imagePath }}">
    <meta property="twitter:image" content="https://www.goodguywarren.com{{ page.imagePath }}">
    {% else %}
    <meta property="og:image" content="https://www.goodguywarren.com/assets/goodguywarren.png">
    <meta property="twitter:image" content="https://www.goodguywarren.com/assets/goodguywarren.png">
    {%- endif %}
    <!-- Description -->
    {% if page.quoteText -%}
    <meta property="og:description" content="Elizabeth Warren- {{ page.quoteText }}">
    <meta property="twitter:description" content="Elizabeth Warren- {{ page.quoteText }}">
    <meta name="description" content="Elizabeth Warren- {{ page.quoteText }}">
    {% else %}
    <meta property="og:description" content="Elizabeth Warren- The only candidate who would help you change a tire.">
    <meta property="twitter:description" content="Elizabeth Warren- The only candidate who would help you change a tire.">
    <meta name="description" content="Elizabeth Warren- The only candidate who would help you change a tire.">
    {%- endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="/ggw.js"></script>

    <style>
      #ggwMeme {
        width: auto;
        height: auto;
        max-width: 100%
      }
    </style>

  </head>
  <body class="d-flex flex-column h-100">

    <main role="main" class="container text-center flex-shrink-0">
      <h1 class="text-center">Good Guy Warren</h1>

      {% if page.imagePath %}
        <image id="ggwMeme" src="{{ page.imagePath }}"></image>
      {% else %}
        <image id="ggwMeme"></image>
      {% endif %}
      <br>
      <br>
      <button id='reload' type="button" class="btn btn-light">More Warren Memes!</button>
      <br>
      {% if page.quoteSource %}
        <a id="source" class="btn btn-light" href="{{ page.quoteSource }}">Quote Source</a>
      {% else %}
        <a id="source" class="btn btn-light" href="#">Quote Source</a>
      {% endif %}
      <br>
      {% if page.htmlPath %}
        <button id="share" class="btn btn-light copy" data-clipboard-text="{{ page.htmlPath }}">Copy Link to this Meme</button>
      {% else %}
        <button id="share" class="btn btn-light copy" data-clipboard-text="#">Copy Link to this Meme</button>
      {% endif %}
      <br>
      <a class="btn btn-primary" href="https://elizabethwarren.com/">Visit the Warren Campaign Website!</a>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">This site not affiliated with any campaign.</span>
        <br>
        <span class="text-muted">Contribute on <a href="https://github.com/tedivm/www.goodguywarren.com">Github</a>.</span>
      </div>
    </footer>

    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
    	a[h]=a[h]||function(){
    		(a[h].q=a[h].q||[]).push(arguments)
    	};
    	o=f.createElement('script'),
    	m=f.getElementsByTagName('script')[0];
    	o.async=1; o.src=t; o.id='fathom-script';
    	m.parentNode.insertBefore(o,m)
    })(document, window, '//fathom.tdvm.net/tracker.js', 'fathom');
    fathom('set', 'siteId', 'CXVJR');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>

  </body>
  <script type="text/javascript">

    $( document ).ready(function() {

      const clipboard = new ClipboardJS('.copy');

      // For compatibility with old style URLs
      const urlVars = getUrlVars()
      if ( urlVars.i !== undefined && urlVars.q !== undefined) {
        window.location = `/${urlVars.q}-${urlVars.i}.html`
      }

      const imageElement = document.getElementById('ggwMeme')
      const source = document.getElementById('source')
      const share = document.getElementById('share')
      const jShare = $(share)
      jShare.attr('data-clipboard-text', `${window.location.protocol}//${window.location.host}${jShare.attr('data-clipboard-text')}`)

      clipboard.on('success', function(e) {
        jShare.effect("pulsate", { times : 1 }, 500);
      })

      $(window).on('popstate', function(e){
        const filename = window.location.href.substring(window.location.href.lastIndexOf('/')+1)
        const filechunk = filename.substring(0, filename.lastIndexOf('.'))
        const pointers = filechunk.split('-')
        const historyPointers = ggw(imageElement, source, pointers[1], pointers[0])
        $(share).attr('data-clipboard-text', `${window.location.protocol}//${window.location.host}/${historyPointers[1]}-${historyPointers[0]}.html`)
      });

      // https://stackoverflow.com/a/4656873/212774
      function getUrlVars () {
          let vars = [], hash;
          const hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
          for(let i = 0; i < hashes.length; i++)
          {
              hash = hashes[i].split('=');
              vars.push(hash[0]);
              vars[hash[0]] = hash[1];
          }
          return vars;
      }

      function updateUrl (image, quote) {
        history.pushState({
            'image': image, 'quote': quote
          },
          $(document).find("title").text(),
          `/${quote}-${image}.html`)
      }

      function newGGW() {
        const pointers = ggw(imageElement, source)
        $(share).attr('data-clipboard-text', `${window.location.protocol}//${window.location.host}/${pointers[1]}-${pointers[0]}.html`)
        updateUrl(pointers[0], pointers[1])
      }

      {% unless page.htmlPath %}
        const firstPointers = ggw(imageElement, source, urlVars.i || false, urlVars.q || false)
        $(share).attr('data-clipboard-text', `${window.location.protocol}//${window.location.host}/${firstPointers[1]}-${firstPointers[0]}.html`)
      {% endunless %}

      $('body').keydown(function(e){
        if (e.keyCode === 13) {
          e.preventDefault()
          newGGW()
        }
      })
      $('#reload').click(function () {
        newGGW()
      })
    })
  </script>
</html>
